.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  
  .education-container .education-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-bottom: 20px; /* Add some margin at the bottom of each education item */
  }
  
  .education-item input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 90%; /* Increase the width of input boxes */
  }
  
  .education-remove-btn,
  .education-add-btn {
    padding: 10px 15px;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    width: 40%; /* Adjust the width of buttons */
    margin-top: 10px; /* Add some spacing from the top */
  }
  
  .education-remove-btn:hover,
  .education-add-btn:hover {
    background: #0056b3;
  }
  