.internships-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .internship-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .internship-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .internship-remove-btn,
  .internship-add-btn {
    padding: 10px 15px;
    width: 40%;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border: none;
  }
  
  .internship-remove-btn:hover,
  .internship-add-btn:hover {
    background: #0056b3;
  }
  